Flask==2.1.2
future==0.18.2
geographiclib==1.52
geopy==2.2.0
google-api-core==2.8.2
google-api-python-client==2.51.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.3
gtfs-realtime-bindings==0.0.7
httpcore==0.15.0
httplib2==0.20.4
httpx==0.23.0
numpy==1.23.0
pandas==1.4.3
protobuf==3.20.1
protobuf3-to-dict==0.1.5
python-telegram-bot==20.0a2
urllib3==1.26.9
